
<div class="container">
    <div class="col-md-4">
      <h1> <%= ":::#{@profileuser.username}:::" %> </h1>
      <h3>Followers: <%= @profileuser.followers.count %> :: Following: <%= @profileuser.following.count %></h3>

      <%= image_tag @profileuser.avatar.url(:medium), class:"img-circle" %>
      <br>

      <% if current_user?@profileuser%>
      <div></div>
      <% elsif !relationship_exists?(current_user, @profileuser) %>
          <%= form_for current_user, :url => relationships_path, method: :post do |f| %>
          <%= f.hidden_field :followed_id, value: @profileuser.id %>
          <%= f.submit "Follow", class:"btn btn-primary"  %>
          <% end %>
      <%else %>
          <%= form_for current_user, :url => relationship_path(current_user), method: :delete do |f| %>
          <%= f.hidden_field :followed_id, value: @profileuser.id %>
          <%= f.submit "Unfollow", class:"btn btn-primary"  %>
          <% end %>
      <% end %>
   </div>

    <div class="col-md-2">
      <% if Tag.all != nil %>
      <h3>Popular Tags:</h3>
          <% Tag.most_popular.each do |tag| %>
          <div><%= button_to tag.name, tag_path(tag), method: :get, class: "btn btn-success" %></div>
          <% end %>
      <% end %>
    </div>

    <div class="col-md-6">
        <h3>Trending</h3>
        <div><%= button_to Tag.trending.name, tag_path(Tag.trending), method: :get, class: "btn btn-success" %></div>
      </div>
    </div>

    <div class="container">
        <% @profileuser.pictures.each do |picture| %>
        <div class=<%="col-md-4"-%>>
        <h4>Pictures</h4>
        <%= image_tag picture.image.url(:medium) %>
        <%= button_to "Details", picture_path(picture), method: :get, class:"btn btn-primary" %>
    </div>
        <% end  %>
</div>
