<div class="container">

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
      <h1>Add a new comment</h1>
      <h2> <%= @picture.title %> </h2>
        <%= image_tag @picture.image.url(:medium) %>
        <%= form_tag picture_comments_path(@picture) do %>
        <%= label_tag :comment %>
        <%= text_field_tag :comment %>
        <%= submit_tag "Post Comment", class: "btn btn-primary" %></a>
        <% end %>
   </div>

</div>
