

<h1>Add a new comment</h1>

<h2> <%= @picture.image_url %> </h2>
<h2> <%= @picture.title %> </h2>

<%= form_tag picture_comments_path(@picture) do %>
<%= label_tag :comment %>
<%= text_field_tag :comment %>
<%= submit_tag "Add comment" %></a>
<% end %>
