
<div align="center">
<h1>Welcome To Flatgram!</h1>
<h2>Sign up below</h2>
<%= form_for @user do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<br>
<br>
<%= f.label :email %>
<%= f.text_field :email %>
<br>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<br>
<%= f.label :avatar %>
<%= f.file_field :avatar %>
<br>
<br>
<%= f.submit "Sign up!", class:"btn btn-primary" %></a>
<% end %>
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
</div>
