


<br>
<br>
<h4>Follower count</h4>
<%= current_user.followers.count %>
<br>
<h4>Following count</h4>
<%= current_user.following.count %>
<br>
<%= link_to 'Log Out', logout_path, method: :post%>
<br>
<br>
<%= link_to 'All Pictures', pictures_path  %>
<br>
<br>
<%= link_to 'Add a picture', new_picture_path %>
<br>
<br>

<h2>My Pictures</h2>
<% @user.pictures.each do |picture| %>
<h4>Picture</h4>
<%= picture.image_url %>
<br>
<%= image_tag picture.image.url(:medium) %>
<br>
<h4>Title</h4>
<%= picture.title %>
<h4>Comments</h4>
<%  picture.comments.each do |comment| %>
<%= comment.comment + " by " + comment.user.username%>
<br>
  <% end %>
  <h4>Click on the tags below to see all pictures</h4>
  <% picture.tags.each do |tag| %>
  <%= link_to "#{tag.name}", tag_path(tag) %>
  <br>
  <% end %>
<li> <%= link_to "add comment", new_picture_comment_path(picture) %></li>
<li> <%= link_to "delete picture", picture_path(picture), method: :delete %></li>
<li> <%= link_to "edit picture", edit_picture_path(picture) %> </li>
<% end  %>
<br>
<br>

<% if Tag.all != nil %>
<h2>Most Popular Tags:</h2>

<% Tag.most_popular.each do |tag| %>
<br>
<%= link_to tag.name, tag_path(tag) %>
<% end %>
<% end %>
<br>
<br>
<h1>All Tags</h1>
<%= link_to Tag.trending.name, tag_path(Tag.trending) %>
