
<h1>Update your Picture</h1>

<%= form_for @picture do |f| %>
<%= f.label :image_url %>
<%= f.text_field :image_url %>
<br>
<br>
<%= f.label :title %>
<%= f.text_field :title %>
<br>
<br>
<%= f.label :image %>
<%= f.file_field :image %>
<br>
<br>
<%= f.fields_for :tags do |tag| %>
  <label>Update Created Tags</label>
  <br>
  <br>
    <%= tag.label :name %>
    <%= tag.text_field :name %>
<% end %>
<br>
<br>
<label>Update tags: </label>
<% Tag.all.each do |tag| %>
<%= check_box_tag "picture[tag_id][]", tag.id %>
<%= tag.name %>
<% end  %>
<br>
<br>
<%= f.submit "Update Picture" %>
<% end %>
