<h1>Flatgram Feed</h1>
<ul>
  <% @pictures.each do |picture| %>
  <h3> <%= picture.title %> </h3>
  <br>
  <br>
  <%= image_tag picture.image.url(:medium) %>
  <br>
  <br>
  <li><%= "Picture by ~ #{picture.user.username}" %></li>
  <li><%= "Posted at ~ #{picture.created_at.strftime("%d %b. %Y %H:%M")}"%></li>
  <li> <%= link_to "add comment", new_picture_comment_path(picture) %></li>

  <% picture.comments.each do |comment| %>
        <%= comment.comment + "- #{comment.user.username}"%>
        <br>
        <% end %>

  <h4>Click on the tags below to find other tags!</h4>
  <% picture.tags.each do |tag| %>
        <%= link_to "#{tag.name}", tag_path(tag) %>
        <br>
        <% end %>

        <% if current_user?picture.user%>
        <%= "flatgram" %>
        <% elsif !relationship_exists?(current_user, picture.user) %>
            <%= form_for current_user, :url => relationships_path, method: :post do |f| %>
            <%= f.hidden_field :followed_id, value: picture.user.id %>
            <%= f.submit "Follow" %>
            <% end %>
        <% elsif current_user.id == picture.user.id %>
          <%= "flatgram" %>
        <%else %>
            <%= form_for current_user, :url => relationship_path(current_user), method: :delete do |f| %>
            <%= f.hidden_field :followed_id, value: picture.user.id %>
            <%= f.submit "Unfollow" %>
            <% end %>
        <% end %>
  <% end %>
</ul>
