<h1 align="center">Flatgram Feed</h1>

<div class="container">
  <% @pictures.each do |picture| %>
  <div class=<%="col-md-4"-%>>
  <h3 align="center"> <%= picture.title %> </h3>
  <br>
  <br>
  <%= image_tag picture.image.url(:medium) %>
  <br>
  <br>
  <% if current_user?picture.user%>
  <%= "Thanks for posting to Flatgram!" %>
  <% elsif !relationship_exists?(current_user, picture.user) %>
      <%= form_for current_user, :url => relationships_path, method: :post do |f| %>
      <%= f.hidden_field :followed_id, value: picture.user.id %>
      <%= f.submit "Follow" %>
      <% end %>
  <% elsif current_user.id == picture.user.id %>
    <%= "flatgram" %>
  <%else %>
      <%= form_for current_user, :url => relationship_path(current_user), method: :delete do |f| %>
      <%= f.hidden_field :followed_id, value: picture.user.id %>
      <%= f.submit "Unfollow" %>
      <% end %>
  <% end %>
  <br>
  <li><%= "Picture by: "%></li>
  <li><%= link_to "#{picture.user.username}", profile_path(picture.user.username) %></li>
  <li><%= "Posted at ~ #{picture.created_at.strftime("%d %b. %Y %H:%M")}"%></li>
  <li> <%= link_to "Add Comment", new_picture_comment_path(picture) %></li>

  <% picture.comments.each do |comment| %>
        <%= comment.comment + "- #{comment.user.username}"%>
        <br>
        <% end %>

  <h4>Tags</h4>
  <% picture.tags.each do |tag| %>
        <%= link_to "#{tag.name}", tag_path(tag) %>
        <% end %>
      </div>
  <% end %>
</div>
