
<h1> <%= link_to "My Pictures", user_path(current_user.id) %> </h1>


<h1>Pictures</h1>
<ul>
  <% @pictures.each do |picture| %>
  <h3> <%= picture.title %> </h3>
  <br>
  <br>
  <%= image_tag picture.image.url(:medium) %>
  <br>
  <br>
  <li><%= "Picture by ~ #{current_user.username}" %></li>
  <li> <%= link_to "add comment", new_picture_comment_path(picture) %></li>

  <% picture.comments.each do |comment| %>
        <%= comment.comment + "- #{comment.user.username}"%>
        <br>
        <% end %>

  <h4>Click on the tags below to find other tags!</h4>
  <% picture.tags.each do |tag| %>
        <%= link_to "#{tag.name}", tag_path(tag) %>
        <br>
        <% end %>

  <% end %>
</ul>
